fastapi
uvicorn[standard]
pydantic
psycopg2-binary

pinecone
pinecone-text



PyMuPDF
numpy

google-generativeai

python-dotenv

langchain-cohere
langchain-text-splitters    

python-multipart

requests
faiss-cpu