fastapi
uvicorn[standard]
pydantic
psycopg2-binary
langchain-huggingface
pinecone
pinecone-text
sentence-transformers
torch
accelerate
PyMuPDF
numpy
transformers
google-generativeai
einops
python-dotenv
peft
langchain-cohere
langchain-text-splitters